.hero {
  display: flex;
  align-items: center;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
 * Mantém os cards alinhados à esquerda, caso alguma 'linha' possua menos de 3 produtos
 */
.featured-products::after {
  content: '';
  width: 30.3030%;
}

.featured-item {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
 * Não foi uma abordagem mobile-first
 * Repetição e sobrescrita iminente
 */
@media screen and (max-width: 64.375em) {
  .featured-item {
    width: 45%;
  }

  .product-card .product-hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 43.75em) {
  .featured-products {
    flex-direction: column;
  }

  .featured-item {
    width: 100%;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.9em;
  }

  .product-card .product-title {
    width: 55%;
    border-bottom: none;
    margin-bottom: 0;
  }

  .product-card .product-hero {
    width: 240px;
    margin-right: 1em;
    margin-left: 0;
    margin-bottom: 0;
  }

  .product-card {
    font-size: 1em;
  }
}

@media screen and (max-width: 30em) {
  .featured-products {
    align-items: center;
  }

  .featured-item {
    width: 300px;
  }

  .product-card .product-hero {
    width: 300px;
    margin-top: -0.625em;
    margin-left: -0.625em;
  }

  .product-card .product-title {
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5555em;
  }

  .card-header {
    display: block;
    margin-bottom: 0;
  }
}
